table .thead-dark th {
    background-color: #df6d42 !important;
    border: transparent;
    color: white;
}

.icon-color{
  color: #a09797;
}

.hand-icon{
  cursor: pointer;
  color: black;
  padding-left: 10px;
}

.title{
  font-weight: 600;
  font-size: 15px;
}

.url{
  color: gray;
}

.pagination-links{
  float: right;
  display: flex;
  p {
    padding-right: 10px;
    padding-left: 10px;
  }
}
