<div class="container-fluid">
  <div id="fb-root"></div>
  <div class="fb-share-button" data-href="http://assignment-hacker-news.herokuapp.com/"
                data-layout="button_count"></div>


                <a class="twitter-share-button" target="__blank"
  href="https://twitter.com/intent/tweet?text=Hello%20world%20http://assignment-hacker-news.herokuapp.com/">
Tweet</a>
  <!-- <a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=Hello%20world%20https://assignment-hacker-news.herokuapp.com/">
Tweet</a> -->


  <router-outlet></router-outlet>
</div>
